.details {
    margin-bottom: 100px;
    &__nav {
        &_wrapper {
            margin-bottom: 65px;
            display: flex;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            color: $main-color;
            gap: 40px;
            text-align: center;
            justify-content: center;
            :hover {
                text-decoration-line: underline;
            }
        }
        &-item {
            color: $main-color;
            position: relative;
            &::before {
                position: absolute;
                content: '';
                background-color: $main-color;
                top: 13%;
                left: 130%;
                width: 1px;
                height: 17px;
                transform: rotateZ(12deg);
            }
            &:nth-last-child(1)::before {
                display: none;
              }
        }
    }
    &__description {
        min-height: 580px;
        margin-bottom: 100px;
        &-wrapper {
            display: grid;
            grid-template-columns: repeat(2, 540px);
            justify-content: space-between;
        }
        &-image {
            margin-bottom: 30px;
            height: 400px;
            width: 510px;
        }
        &-items {
            display: flex;
            gap: 20px;
        }
        &-img {
            width: 160px;
            height: 120px;
        }
        &-text {
            width: 540px;
            min-height: 480px;
            color: $main-color;
            padding: 50px 40px;
            border: 1px solid #D6D6D6;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                top: 10px;
                left: 10px;
                right: 10px;
                bottom: 10px;
                border: 1px solid #D6D6D6;
                pointer-events: none;
            }
        }
        &-title {
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            margin-bottom: 30px;
        }
        &-id {
            display: flex;
            gap: 15px;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            color: #979797;
            margin-bottom: 60px;
            position: relative;
            &::after {
                position: absolute;
                content: '';
                background-color: #979797;
                top: 50px;
                left: 0;
                width: 100%;
                height: 1px;
            }
        }
        &-descr {
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            margin-bottom: 30px;
        }
        &-price {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            margin-bottom: 30px;
        }
        &-buttons {
            display: flex;
            gap: 30px;
        }
        &-btn {
            cursor: pointer;
            align-items: center;
            padding: 10px 20px;
            background: #ffffff;
            border: 1px solid $main-color;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            transition: 0.5s all;
            &:hover {
                color: #ffffff;
                background-color: $main-color;
            }
        }
    }
}