.social {
    min-height: 745px;
    margin-bottom: 120px;
    &__subtitle {
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 140%;
        text-align: center;
        color: $main-color;
        margin-bottom: 15px;
    }
    &__title {
        font-family: 'Noto Serif';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 41px;
        text-align: center;
        color: $main-color;
        margin-bottom: 60px;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    &__item-1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    &__item-6 {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}