.promo__nav {
    min-height: 110px;
    width: 100%;
    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 111px;
    }
    &_link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #FFFFFF;
    }
    &-right, &-left {
        width: 350px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-right {
        width: 387px;
        padding-left: 37px;
    }
    &-form{
        background: none;
        border: none;
        width: 80px;
        position: relative;
        color: #ffffff;
        &::after {
            content: '';
            background: url('../../../icon/promo/search.svg');
            position: absolute;
            top: 4px;
            left: -35px;
            width: 25px;
            height: 25px;
        }
        ::placeholder {
            color: #ffffff;
        }
        :focus {
            outline: none;
        }
    }
    &-input {
        background: none;
        border: none;
        width: 80px;
        padding: 5px;
        color: #ffffff;
        font-size: 14px;
    }
}